
/* Resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #F9F9F9;
}

a{
    text-decoration: none;
    color: #000;
}

/* Nav */

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}
.nav-logo img{
    margin: 20px 20px 0 10px;
    width: 220px;
    height: 110px;
}

.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.nav-item{
    list-style-type: none;
    margin-left: 10px;
    padding: 6px;
}

.nav-item a{
    font-size: 14px;
    transition: 0.7s ease;
}

.nav-item a:hover{
    text-decoration: underline;
    transition: 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #DD71C6;
}

/* MAIN */


/* Countdown Section */

.countdown-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 200px;
    gap: 20px;
    }

.color-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 480px;
    height: 100%;
    background-color: #FFD900;
    border-top-left-radius: 50px;
    z-index: -1;
    }


/* Countdown Article */

.countdown-article{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: start;
    align-items: center;
    width: 50%;
    margin-left: 100px; 
}

.countdown-article h1{
    font-family: 'Libre Baskerville', serif;
    line-height: 67px;
    font-size: 43px;
    font-weight: 400;
    margin-top: 100px;
}
.countdown-article h1 span{
    color: #DD71C6;
}
.countdown-article p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 20px;
}

.countdown-article button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #DD71C6;
    margin-top: 20px;
    padding: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.countdown-article button:hover{
    transform: scale(1.1);
    transition: .3s ease;
}


/* Countdown Container */

.countdown-container{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 51%, rgba(255, 255, 255, 0.5) 49%);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 50px;
    margin-right: 250px;
    padding: 41px, 36px, 41px, 36px;
}

.countdown-container h2{
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.launch-time{
    display: flex;

}
.launch-time div{
    text-align: center;
    flex-basis: 100px;
    padding: 20px;
}

.launch-time div h3{
    font-size: 18px;
    letter-spacing: 3px;
    margin: 28px;
    font-weight: 500;
    color: #0083D3;
}

.launch-time div p{
    font-size: 50px;
    font-weight: 500;
    margin-top: 50px;
}




/* Stadistics Section */

.stats-section{
    margin-top: 100px;
    width: 100%;
    background-color: #DD71C6;

}
.box-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.box {
    width: 249px;
    height: 264px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 80px 25px;
}

.box h3{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.box p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.box-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-button button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFD900;
    margin: 20px 30px 100px 10px;
    padding: 12px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.box-button button:hover{
    transform: scale(1.1);
    transition: .3s ease;
}



/* Section About Us */

.about_us-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #73C3F4;
    padding: 30px;
    gap: 20px;
}

.about_us-article{
    display: grid;
    width: 75%;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 220px;
}

.about_us-article h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin: 20px 0 20px 0;
}

.about_us-article p{
    width: 60%;
    font-size: 16px;
    color: #fff;
    line-height: 25.6px;
    margin-bottom: 20px;
}
.about_us-article button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #DD71C6;
    margin: 30px 0 30px 0;
    padding: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.about_us-article button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.about_us-image {
    width: 549px;
    height: 593px;
    margin: 0 220px 30px 0;
}


/* How Can We Help You Section */

.help-section{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.help-article{
    width: 75%;
    padding: 0;
    text-align: center;
}

.help-article h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}

.help-article p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin: 30px 0 10px 0;
}

.help-article button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #DD71C6;
    margin: 30px 0 50px 0;
    padding: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.help-article button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.help-article img{
    width: 1551px;
}


/* Free Consultation Section */

.free_consult-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#F9F9F9;
    padding: 100px;
}

.free_consult-section h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
}
.free_consult-section h2 span{
    color: #DD71C6;
}

.free_consult-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.free_consult-container article{
    width: 447px;
    height: 391px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    gap: 39px;
    margin: 50px;
}

.free_consult-container article h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.free_consult-container article:nth-child(1) h3 {
    color: #0083D3;
    border-bottom: 1px solid #B1E2FF;
    padding-bottom: 40px;
}

.free_consult-container article:nth-child(2) h3 {
    color: #DD71C6;
    border-bottom: 1px solid #FFB7F0;
    padding-bottom: 40px;
}

.free_consult-container article ul{
    text-align: left;
    margin: 20px;
}

.free_consult-container article ul li{
    font-size: 16px;
    font-weight: 400;
    line-height: 27.6px;
    padding: 10px;
}

.free_consult-container article:first-child ul li:first-child {
    padding-top: 15px;
}

.free_consult-section button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #DD71C6;
    margin: 50px 0 50px 0;
    padding: 10px;
    border-style: none;
    color: #fff;
    cursor: pointer;
}

.free_consult-section button:hover{
    transform: scale(1.1);
    transition: .3s ease;
}


/* FQA Section */

.fqa-section{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.fqa-section h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 400;
    padding: 100px 0  50px 20px;
}

.dropdown{
    max-width: 1135px;
    width: 100%;
    background: #F9F9F9;
    margin: 30px 0 50px 0;
    padding: 10px;
    border-radius: 20px;
}
.dropdown .dropdown-content{
    margin: 10px 0;
    overflow: hidden;
}
.dropdown-content header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    padding: 0 15px;
    cursor: pointer;
}
.dropdown-content header i{
    font-size: 30px;
    color: #DD71C6;
}
.dropdown-content .title{
    font-size: 16px;
    font-weight: 500;
}
.dropdown-content .description{
    height: 0;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s linear;
}


/* FOOTER */

footer{
    background-color: #F9F9F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.footer-container1{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

.footer-logo img{
    width: 200px;
    height: 100px;
}

.footer-description{
    width: 70%;
}
.footer-description p{
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
    margin: 25px 0;
}
.footer-info p{
    text-align: left;
    margin-bottom: 50px;
}
.footer-info span{
    font-weight: 700;
}
.footer-info i{
    padding-right: 5px;
    font-size: 20px;
    color: #DD71C6;
}

.footer-sites ul{
    display: flex;
}

.footer-sites li{
    list-style-type: none;
    padding-right: 10px;
}

.footer-sites li a img{
    width: 50px;
    height: 50px;
}

.footer-sites li a img:hover{
    transform: scale(1.2);
    transition: .3s ease;
}


.footer-container2{
    display: grid;
    grid-template-columns: 1fr;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    justify-content: center;
    text-align: left;
}

.footer-links ul{
    justify-content: center;
    text-align: left;
}

.footer-links ul h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    font-weight: 400;
    margin: 30px 0 50px 0;
}
.footer-links ul li{
    list-style-type: none;
    padding-bottom: 30px;
}
.footer-links ul li a{
    text-decoration: none;
    font-size: 16px;
}
.footer-links ul li a:hover{
    text-decoration: underline;
    transition: 0.3s ease;
}
.footer-copyright{
    grid-column: span 2;
    text-align: left;
}
.footer-copyright p{
    font-size: 16px;
    margin-top: 50px;
}



/* Mobile */

@media(max-width:768px){


    .burger{
        display: block;
    }

    .burger.active .bar:nth-child(2){
        opacity: 0;
    }

    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 150px;
        gap:0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

}




